<%- include("layouts/header") %>
<main>
      <!-- <h1>Home page</h1> -->
    <form action="/" method="post">
        <input type="text" placeholder="Enyer a name of programming language" name="plName">
        <button type="submit">Add Data</button>
    </form>

    

      <ul>
        <% if(plNames.length>0){ %>

        <% for(let i=0; i<plNames.length; i++){ %>
        <li><%=plNames[i]%></li>
        <% } %>


        <% } else { %>
        <p>No data avalable</p>
        <% } %>
      </ul>
    </main>
    <%- include("layouts/footer") %>
